# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/SunInfo/_ReSharper.SunInfo
/SunInfo/SunInfo/obj
/SunInfo/SunInfo/Bin
/SunInfo/SunInfo.AstroAlgorithms/obj
/SunInfo/SunInfo.AstroAlgorithms/Bin